.form {
    height: 80dvh;
    width: clamp(200px, 80dvw, 50rem);
    background: var(--color-bg-variant);
    position: absolute;
    inset: 0;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    border-radius: 1.5rem;
    z-index: -5;
}
h2.title {
    color: var(--color-primary-variant);
}
.form-group {
    display: grid;
    grid-template-columns: 8rem 1fr;
}
.errorMsg {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1.2rem;
    grid-column: 2/-1;
}

@media screen and (width <= 600px) {
    .form-group {
        grid-template-columns: 1fr;
        grid-auto-flow: column;
    }
    .form-group:last-of-type {
        grid-template-rows: max-content 1fr;
        gap: 0.5rem;
    }
    .form {
        width: 90%;
    }
}